.profil{
  position: absolute;
  top: 53%;
  right: 15rem;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  background-color: #333;
  border-radius: 30px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(117, 5, 143, 0.2);
  }
  
  .image{
  position: fixed;
  }
  
  .text{
  color: white;
  text-align: center;
  }
  .notif{
    margin-left: 38%;
  }
  
  .aa{
  display: block;
  color: black;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  }
  
  .h1{
  color: #ffea81;
  font-size: 40px;
  width: 100%;
  text-align: center;
  }
  
  .button {
  width: 80%;
  text-align: center;
  background-color: #ffea81;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  margin-left: 10%;
  }
  
  .button:hover {
  background-color: #fff;
  }
  
  ::placeholder {
  color: #212121;
  font-size: 1.5em;
  padding-left: 1rem;
  }
  
  input::placeholder {
  font-size: 16px;
  }
  
  input:-webkit-input-placeholder {
  font-size: 16px;
  }
  
  input:not(:placeholder-shown) {
  font-size: 18px;
  }
  
  @media(max-width: 768px) {
  .profil {
  right: 1rem;
  width: 90%;
  padding: 30px;
  }
  
  .button {
  margin-left: 5%;
  }
  }
  
  @media(max-width: 480px) {
  .profil {
  top: 40%;
  }
  
  .h1 {
  font-size: 30px;
  }
  }