.layout {
    width: 1800px;
    height: 600px; 
    max-width: 100%; 
    object-fit: contain;
    border-radius: 10px; 
  }
  
  

.layout-container{
    position: relative;
    width: 800px;
    height: 800px;
}

body {
    background-color: #000000; 
    color: #fff; 
  }

.layout-text{
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
    background-color: rgba(0,0,0,0,7);
    padding: 10px;
}

.layout-button button{
    border-radius: 10px;
}

.layout-button button:hover {
    background-color: #FFE98A; 
}

.buttton{
  position: absolute;
  top: -600px;
  right: 250px;
  margin: 10px; 
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loik {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-content: flex-start;
width: 100%;
max-width: 1400px; 
margin: 10px;
}

.loik li {
    width: calc(20% - 20px);
    margin: 10px;
}

.tab-image {
    width: 100%;
    height: auto;
    display: block;
}

.loik-button{
    position: absolute;
    margin-top: -24%;
    margin-left: 16em;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.50);
    width: 42px;
    height: 42px;
}

ul{
    list-style: none;
}

.layout-name {
    position: relative;
    display: flex;
    flex-direction: column;
  
  }
  
  .layout-name h3 {
    position: absolute;
    top: -320px; 
    left: 250px; 
    color: #3e3939; 
    padding: 5px;
    border-radius: 5px; 
  }
  
  .layout-name .overview{
    
    position: absolute;
    top: -280px; 
    right: 50%;
    left: 15%; 
    color: #dacbcb;
    margin: 5px, 0;
    padding: 5px;
    border-radius: 5px; 
    white-space: none;
    font-size: 11px;
    font-style: oblique;
    transform: translate(5% , 5%);
  }

  .layout-name .details {
    position: absolute;
    top: -150px;
    right: 50%;
    left: 250px;
    color: #948a8a;
    padding: 5px;
    border-radius: 5px;
    
  }
  